-e .
bandit==1.6.2
black==19.10b0
flake8-bugbear==20.1.4
flake8-quotes==3.0.0
flake8==3.7.9
ipdb==0.13.2
ipython==7.13.0
mypy==0.770
numpy==1.18.4
pyroma==2.6
pytest-cov==2.8.1
pytest==5.4.1
pytorch_ranger==0.1.1
sphinx-autodoc-typehints==1.10.3
sphinx==3.0.3
torch==1.5.0
