-e .
bandit==1.6.2
black==19.10b0
flake8-bugbear==20.1.4
flake8-quotes==3.2.0
flake8==3.8.3
ipdb==0.13.2
ipython==7.15.0
mypy==0.780
numpy==1.18.5
pyroma==2.6
pytest-cov==2.9.0
pytest==5.4.3
pytorch_ranger==0.1.1
sphinx-autodoc-typehints==1.10.3
sphinx==3.1.0
torch==1.5.0
