-e .
bandit==1.7.0
black==20.8b1
flake8-bugbear==21.3.2
flake8-quotes==3.2.0
flake8==3.9.0
ipdb==0.13.7
isort==5.7.0
mypy==0.812
numpy==1.19.5
pyroma==3.1
pytest-cov==2.11.1
pytest==6.2.2
pytorch_ranger==0.1.1
sphinx-autodoc-typehints==1.11.1
sphinx==3.5.2
torch==1.8.0
twine==3.4.0
wheel==0.36.2
